<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysReservePersonnelMapper">

    <resultMap type="BusinessReservePersonnel" id="BusinessReservePersonnelResult">
        <id property="id" column="id"/>
        <result property="reserveNumber" column="reserve_number"/>
        <result property="appointmentDate" column="appointment_date"/>
        <result property="appointmentPeriod" column="appointment_period"/>
        <result property="reserveName" column="reserve_name"/>
        <result property="reserveId" column="reserve_id"/>
        <result property="numberLimit" column="number_limit"/>
        <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="idCard" column="id_card"/>
        <result property="sex" column="sex"/>
        <result property="education" column="education"/>
        <result property="status" column="status"/>
        <result property="signTime" column="sign_time"/>
        <result property="contentId" column="content_id"/>
        <result property="openId" column="open_id"/>
        <result property="canceType" column="cance_type"/>
        <result property="expand_5" column="expand_5"/>
        <result property="expand_6" column="expand_6"/>
        <result property="expand_7" column="expand_7"/>
        <result property="expand_8" column="expand_8"/>
    </resultMap>

    <sql id="selectReserveContentVo">
        select d.id,
            d.reserve_number,
            d.appointment_date,
            d.appointment_period,
            d.reserve_name,
            d.reserve_id,
            d.create_time,
            d.name,
            d.phone_number,
            d.id_card,
            d.sex,
            d.education,
            d.status,
            d.sign_time,
            d.content_id,
            d.open_id,
            d.cance_type,
            d.expand_5,
            d.expand_6,
            d.expand_7,
            d.expand_8
        from business_reserve_personnel d
    </sql>

    <insert id="insertPersonnel" parameterType="BusinessReservePersonnel">
        insert into business_reserve_personnel(
        <if test="reserveNumber != null and reserveNumber != ''">reserve_number,</if>
        <if test="appointmentDate != null">appointment_date,</if>
        <if test="appointmentPeriod != null and appointmentPeriod != ''">appointment_period,</if>
        <if test="reserveName != null and reserveName != ''">reserve_name,</if>
        <if test="reserveId != null">reserve_id,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
        <if test="idCard != null and idCard != ''">id_card,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="education != null and education != ''">education,</if>
        <if test="contentId != null">content_id,</if>
        <if test="openId != null and openId != ''">open_id,</if>
        <if test="canceType != null and canceType != ''">cance_type,</if>
        <if test="expand_5 != null and expand_5 != ''">expand_5,</if>
        <if test="expand_6 != null and expand_6 != ''">expand_6,</if>
        <if test="expand_7 != null and expand_7 != ''">expand_7,</if>
        <if test="expand_8 != null and expand_8 != ''">expand_8,</if>
        create_time
        )values(
        <if test="reserveNumber != null and reserveNumber != ''">#{reserveNumber},</if>
        <if test="appointmentDate != null">#{appointmentDate},</if>
        <if test="appointmentPeriod != null and appointmentPeriod != ''">#{appointmentPeriod},</if>
        <if test="reserveName != null and reserveName != ''">#{reserveName},</if>
        <if test="reserveId != null">#{reserveId},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
        <if test="idCard != null and idCard != ''">#{idCard},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="education != null and education != ''">#{education},</if>
        <if test="contentId != null">#{contentId},</if>
        <if test="openId != null and openId != ''">#{openId},</if>
        <if test="canceType != null and canceType != ''">#{canceType},</if>
        <if test="expand_5 != null and expand_5 != ''">#{expand_5},</if>
        <if test="expand_6 != null and expand_6 != ''">#{expand_6},</if>
        <if test="expand_7 != null and expand_7 != ''">#{expand_7},</if>
        <if test="expand_8 != null and expand_8 != ''">#{expand_8},</if>
        sysdate()
        )
    </insert>

    <update id="updatePersonnelStatus" parameterType="BusinessReservePersonnel">
        update business_reserve_personnel
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <update id="updatePersonnelCanceType" parameterType="BusinessReservePersonnel">
        update business_reserve_personnel
        <set>
            <if test="canceType != null and canceType != ''">cance_type = '1',</if>
            update_time = sysdate()
        </set>
        where id = #{id}

    </update>

    <select id="selectPersonnelById" parameterType="Integer" resultMap="BusinessReservePersonnelResult">
        <include refid="selectReserveContentVo"/>
        where id = #{id}
    </select>

    <select id="selectPersonnelByRId" parameterType="Integer" resultMap="BusinessReservePersonnelResult">
        <include refid="selectReserveContentVo"/>
        where reserve_id = #{reserveId}
    </select>

    <select id="selectPersonneList" parameterType="BusinessReservePersonnel" resultMap="BusinessReservePersonnelResult">
        <include refid="selectReserveContentVo"/>
        <where>
            <if test="openId != null and openId != ''">
                AND open_id = #{openId}
            </if>
            <if test="reserveNumber != null and reserveNumber != ''">
                AND reserve_number like concat('%', #{reserveNumber}, '%')
            </if>
            <if test="reserveId != null and reserveId != ''">
                AND reserve_id = #{reserveId}
            </if>
            <if test="contentId != null and contentId != ''">
                AND content_id = #{contentId}
            </if>
            <if test="idCard != null and idCard != ''">
                AND id_card = #{idCard}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND phone_number = #{phoneNumber}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="appointmentDate != null"><!-- 开始时间检索 -->
                and date_format(appointment_date,'%y%m%d') = date_format(#{appointmentDate},'%y%m%d')
            </if>
            order by d.create_time desc
        </where>
    </select>

</mapper> 